<div class="h-100 container-fluid">
  <div class="row h-100">
    <%= render '/layouts/sidebar' %>
    <div class="col-10 bg-secondary p-0">
      <%= render '/layouts/navbar' %>
      <div>
      </div>
    </div>
  </div>
</div>